.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #505a60;
  background: linear-gradient(
    135deg,
    rgba(115, 175, 81) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgb(50, 0, 108) 100%
  );
}
